<div class="content">
  在台灣松下R&D期間，主要負責家電韌體開發，並支援車用導航系統，實際主導開發的產品有高階白光LED頭燈、除濕機、除濕機於智慧家電聯盟（SAA）的導入開發，
  參與開發的有冷氣機、洗衣機、微波爐（UC安規認證）、車用導航系統硬體測試及路測以及數位電視機上盒中介層程式開發。
</div>
<div class="row">
  <div class="column">
    <img src="./assets/images/pana_bf263p.jpg" style="max-width:100%;">
  </div>
  <div class="column">
    <img src="./assets/images/pana_dehum.jpg" style="max-width:100%;">
  </div>
  <div class="column">
    <img src="./assets/images/pana_micro.jpg" style="max-width:100%;">
  </div>
  <div class="column">
    <img src="./assets/images/pana_navi.jpg" style="max-width:100%;">
  </div>
</div>