<div id="top"></div>
<a id="back-to-top" href="#top">
  <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Up%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M20 40l11.994-14L44 40' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Angle Up" />
</a>
<div class="content">Here are some works that I did during my 6 years in the United States.</div>
<br>
<div id="bhm">
  <h3>Bridge Health Monitoring</h3>
  <div class="content">
    This was the research project I involved and soon led throughtout my time in the States.<br><br>
    This research first examines the existing technologies and then works toward a novel structural health monitoring solution.
    A comprehensive discussion includes major topics from sensor selection and installation to sensing data display.
    A cyber-physical system combining embedded system, wireless communication, and the Java platform was developed for structural health monitoring.
    The focus of this system is to continuously monitor structural response and broadcast the information to users worldwide via the Internet.
    A wireless sensor node is designed to connect up to eight sensor channels. Various sensors have been tested on the sensor node.
    A data acquisition and repository system was also developed. The use of the Java language makes this system capable of running in virtually any existing computer platform.
    Distributed design concept expands its functionalities and capabilities. Its graphical user interface offers users a friendly and ease-of-use environment to monitor real-time and historical data in both graphical and numerical ways.
    Every component of the system has been validated to verify its functionality. Additionally, the whole system was implemented on a steel pedestrian bridge lodated on university campus to observe its performance first.
    After examining the result from the initial installation, the system was deployed to a highway bridge to show the effectiveness of the health monitoring system.
  </div>
  <figure>
    <img src="./assets/images/siuc_highway_bridge.jpg" style="max-width:100%;">
    <figcaption>Sensor installation on the highway bridge</figcaption>
  </figure>
  <figure>
    <img src="./assets/images/siuc_network.jpg" style="max-width:100%;">
    <figcaption>Network infrastructure next to the bridge</figcaption>
  </figure>
</div>
<div id="ncku">
  <h3>NCKU Elite Program</h3>
  <div class="content">
    This was a join program by SIUC and Taiwan's NCKU (成功大學). Here at SIUC we planned a two-week Leadership Workshop for the Elite Program. 
    The topics of the workshop include American politics, globalization, equal right and diversity, women in leadership, etc. with speakers from university
    chancellor, city mayor, professors, and entrepreneurs. Along with the workshops, several industrial tours have been arranged for students not only to
    visit the factories but also to talk to people in renowned companies like Aisin and Pepsi. 
  </div>
  <figure>
    <img src="./assets/images/siuc_aisin.jpg" style="max-width:100%;">
    <figcaption>NCKU students at Aisin</figcaption>
  </figure>
</div>
<div id="other">
  <h3>Other</h3>
  <div class="content">
    During my 6 years in the US, I also joined Taiwanese Student Association to assist students from Taiwan and to participate many school evernts.
    I was also a volunteer in Vine Community Church helping setup network infrastructure for new facility and sound recording for weekly service.
  </div>
</div>