<div class="content">
  於工研院服務期間，主要提案、參與政府科專計畫的執行，內容多著重在工業4.0及智慧製造相關技術規劃、導入及執行，搭配部分的產品開發及推廣工作。期間招募跨國人才（哈薩克、西班牙）進入團隊
  一同執行專案，並於暑假期間爭取國外實習生進入團對實習，藉此增加部門同仁在日常生活及工作上使用英文的機會以及體驗不同國家工程師的工作思維。
</div>
<br>
<div>
  <h4>主要工作成果如下圖片說明：</h4>
</div>
<div class="slideshow-container">
  <div *ngFor="let idx of itriNum" class="mySlides fade itri">
    <div class="numbertext">{{idx+1}} / {{itriNum.length}}</div>
    <img src="./assets/images/itri{{idx}}.jpg" style="width:100%">
    <!-- <div class="text">{{cap}}</div> -->
  </div>
  <a class="prev" (click)="plusSlides(-1, 'itri')">&#10094;</a>
  <a class="next" (click)="plusSlides(1, 'itri')">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span *ngFor="let idx of itriNum"><span class="dot itri" (click)="currentSlide(idx, 'itri')"></span></span>
</div>
<br>
<div>
  <h4>院內外獎項：</h4>
  <p>2018 傑出研究獎金牌(諧波傳動裝置創新技術)</p>
  <p>2017 R&D100(PHM, Prognostic and Health Management Software in Semiconductors)</p>
  <p>2017 品質典範獎(汽機車關鍵零組件製程可視化技術)</p>
  <p>2016 產業化貢獻獎銀牌(設備連線通訊與預兆診斷技術產業化應用)</p>
  <p>2015 品質管理優良案例獎(前瞻計畫特別獎- 3D粉床積層製造機)</p>
  <p>2014 機械所曼陀獎</p>
  <p>2013 前瞻計畫優良獎(非接觸式渦流夾爪)</p>
  <p>2012 機械所新進人員創意競賽第一名(愛、無限)</p>
  <br>
  <img src="./assets/images/itri_awards.jpg" style="width:100%;">
</div>