<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar" style="overflow-y:auto;">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" (click)="w3_close()">關閉選單 &times;</button>
  <div style="padding:10px;">
    <h4>Oliver's Projects</h4>
  </div>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a routerLink="estech">
        <button class="btn btn-toggle align-items-left rounded collapsed" data-bs-toggle="collapse" data-bs-target="#estech" aria-expanded="true" style="font-size:x-large;font-weight:bold;">
          <img src="./assets/images/est-logo.png" height="24">
          EStech
        </button>
      </a>
      <div class="collapse show" id="estech">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li>
            <a routerLink="estech" fragment="powerplant" class="w3-bar-item w3-button">桂山電廠</a>
          </li>
          <li>
            <a routerLink="estech" fragment="water" class="w3-bar-item w3-button">廢水監測</a>
          </li>
          <li>
            <a routerLink="estech" fragment="orchid" class="w3-bar-item w3-button">蘭花生長環境監測</a>
          </li>
          <li>
            <a routerLink="estech" fragment="grow" class="w3-bar-item w3-button">作物生長燈光控制</a>
          </li>
          <li>
            <a routerLink="estech" fragment="bdl" class="w3-bar-item w3-button">無塵室溫濕度監測</a>
          </li>
          <li>
            <a routerLink="estech" fragment="park" class="w3-bar-item w3-button">機械停車場自動化監控</a>
          </li>
          <li>
            <a routerLink="estech" fragment="save" class="w3-bar-item w3-button">建築工地袪水節能監控系統</a>
          </li>
          <li>
            <a routerLink="estech" fragment="aircon" class="w3-bar-item w3-button">大樓冰水主機監測</a>
          </li>
          <li>
            <a routerLink="estech" fragment="agv" class="w3-bar-item w3-button">AGV/RGV路線規劃及狀態顯示</a>
          </li>
          <li>
            <a routerLink="estech" fragment="ps7m" class="w3-bar-item w3-button">氣體偵測器網頁修改</a>
          </li>
          <li>
            <a routerLink="estech" fragment="co2" class="w3-bar-item w3-button">小型CO2偵測器雛形開發</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <a routerLink="itri">
        <button class="btn align-items-left rounded" aria-expanded="true" style="font-size:x-large;font-weight:bold;">
          <img src="./assets/images/ITRI-logo.png" height="24"> ITRI
        </button>
      </a>
    </li>
    <li class="mb-1">
      <a routerLink="siuc">
        <button class="btn btn-toggle align-items-left rounded collapsed" data-bs-toggle="collapse" data-bs-target="#siuc" aria-expanded="true" style="font-size:x-large;font-weight:bold;">
          <img src="./assets/images/SIUC-logo.png" height="24">
          SIUC
        </button>
      </a>
      <div class="collapse" id="siuc">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li >
            <a routerLink="siuc" fragment="bhm" class="w3-bar-item w3-button">Bridge Health Monitoring</a>
          </li>
          <li>
            <a routerLink="siuc" fragment="ncku" class="w3-bar-item w3-button">NCKU Elite Program</a>
          </li>
          <li>
            <a routerLink="siuc" fragment="other" class="w3-bar-item w3-button">Other</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <a routerLink="panasonic">
        <button class="btn align-items-left rounded" aria-expanded="true" style="font-size:x-large">
          <img src="./assets/images/panasonic-logo.png" height="32">
        </button>
      </a>
    </li>
  </ul>
</div>

<div class="w3-main" style="margin-left:200px;">
  <div class="w3-sand">
    <button class="w3-button w3-sand w3-xlarge w3-hide-large" (click)="w3_open()">&#9776;</button>
  </div>

  <div class="w3-container" style="padding-top:10px;">
    <router-outlet></router-outlet>
  </div>
</div>